.container__profilecard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;  
    height: 80vh;
    /* Estilos específicos para pantallas pequeñas */
    @media (max-width: 375px), (max-width: 475px){
      height: 60vh;
    }  
  }

  .container__profilecard__img{
    display: flex;
    flex-basis: 200px;
    height: 150px;
    border: 1px solid  #E74C3C    ;
    border-radius: 50%;
  }
  .container__profilecard__name{
    font-weight: normal;
    color: #CB4335 ;
    padding: 0px;
    margin: 0px;
  }

  .container__profilecard__description{
    font-size: x-small;
    color: #616A6B;
    text-align: justify;
    padding-inline: 5px;
    padding-bottom: 5px;
  }

  .container__profilecard__buttons{

    &--linkedin{
        width: 30px;
        height: 30px;

        &:hover{
            opacity: 0.5;
        }
    }

    &--github{
        width: 30px;
        height: 30px;
        
        &:hover{
            opacity: 0.5;
        }
    }

    p{
        color: #CB4335 ; 
    }
    
  }
