#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: center;
  align-items: center; 
  height: 100vh;
    @media (max-width:375px),(max-width:475px) {
      flex-direction: column;
      justify-content:flex-start;
    }
}
.container__seccion{
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  height: 100%;
}

.container__construction{
  background-color: #181818;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;    
  box-sizing: border-box;
  flex-basis: 80%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1)), url('https://res.cloudinary.com/dkddd5aky/image/upload/v1688432994/portafolio/fondo.jpg');
  background-color:  rgba(0, 0, 0, 1) ;
  @media (max-width:375px),(max-width:475px) {
    background-size: cover;
    //background-position: center;
  }


  .copyrigth{
    color: #979A9A ;
    font-size: 10px;
    margin-top: 80px;
    margin-bottom: 10px;

    @media (max-width:375px),(max-width:475px) {
      margin-top: 40px;
    margin-bottom: 10px;
    }
  }
  }

